.Cnav{
    min-width: 100%;
    height: 5.5em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para pantallas más grandes (mayores o igual a 390px) */
.navbar {
    z-index: 999;

    width: 70%;
    min-height: 5em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px 10px;
    
    background-color: #fff;
    
    /* border-bottom: 2px solid #eee; */
    font-weight: bold;

    position: absolute;
    top: 0;
    position: fixed;    

    -webkit-box-shadow: 0px 15px 15px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 15px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 15px -14px rgba(0,0,0,0.75);
}

.logo {
    max-height: 100%;

    /* background-color: red; */

    color: #0984e3;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;

    display: flex;
    align-items: center;

    border: none;

    transition: transform 0.9s ease-in-out;
    z-index: 999;
}

.logo:hover {
    transform: scaleX(0.9);
    transform-origin: center;
}

.navLinks {
    /* background-color: #fff; */
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border: none;
}

.navItem {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    /* background-color: #fff; */
    cursor: pointer;
    outline: none;
    margin-right: 14px;
    padding: none;

    border: none;
    transition: transform 1s ease-in-out;
}

.navItem button {
    background-color: #fff;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    min-height: 100%;
    width: fit-content;
    
    border: none;
}

.navItemEnd {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    /* background-color: #fff; */
    cursor: pointer;
    outline: none;
    padding: none;

    border: none;
    transition: transform 1s ease-in-out;
}


.navItem button:hover {
    cursor: pointer;
    outline: none;

    transform: scale(1.1);
    
    border-radius: 20px;

    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
}

.navItemEnd button {
    background-color: #fff;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

    min-height: 100%;
    width: fit-content;
    
    border: none;
}

.navItemEnd button:hover {
    cursor: pointer;
    outline: none;

    transform: scale(1.1);
    
    border-radius: 20px;

    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
}

.imgMenu{
    display: none;
}

.navLinks2{
    display: none;
}
.navLinks3{
    display: none;
}

@media screen and ( max-width: 900px ){
    .navLinks{
        display: none;
    }
    
    .navbar {
        width: 70%;
        height: 5.5em;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 0 30px;
    
        background-color: #fff;
        border-bottom: 2px solid #eee;
        font-weight: bold;
    }
      
    .imgMenu{
        display: block;
        
        height: 30px;
        width: 30px;
        
        z-index: 999;

        /* transition: opacity 1s ease-in-out; */
    }

    .navLinks2{
        background-color: #eeeeeee4;
        border: 1px solid #eee;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        padding: 20px;
        /* padding-right: 60px; */

        width: 93%;
        min-height: 50vh;

        list-style: none;

        position: absolute;
        top: 4.6em;
        left: 0;

        z-index: 990;

        animation: slide-bottom 0.8s linear both;

        -webkit-box-shadow: 0px 16px 37px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 16px 37px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 16px 37px -10px rgba(0,0,0,0.75);
    }
      

    @keyframes slide-bottom{
        0%{transform:translateY(-100%)}100%{transform:translateY(0)}
    }

    .navLinks3{
        background-color: #eeee;
        border: 1px solid #eee;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        list-style: none;
        
        padding: 20px;

        min-width: 93%;
        min-height: 50vh;

        position: absolute;
        top: 4.6em;
        left: 0;

        z-index: 990;
        
        animation: slide-top 0.6s linear both;
    }

    @keyframes slide-top {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    /* Define la animación de apertura del menú */
    @keyframes slidebottomin {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Define la animación de cierre del menú */
    @keyframes slidebottomout {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
    }


    .navItem2 {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #fff;
        cursor: pointer;
        outline: none;
        margin-right: 14px;
        padding: none;

        text-align: center;

        width: 150px;
        height: 30px;

        border-radius: 20px;
        border: none;
        transition: transform 1s ease-in-out;
    }

    .navItem22 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 12px;
        background-color: #fff;
        padding: none;

        text-align: center;

        width: 200px;
        height: 30px;

        border-radius: 20px;
        border: none;
        transition: transform 1s ease-in-out;
    }
    
    .navItemEnd2 {
        cursor: pointer;
        outline: none;
        margin-right: 14px;
        padding: none;

        text-align: center;

        width: 150px;
        height: 30px;

        border-radius: 20px;
        border: none;
        transition: transform 1s ease-in-out;
    }
    
    
    .navItem2 button:hover {
        cursor: pointer;
        outline: none;
    
        transform: scale(1.1);
        
        border-radius: 20px;
    
        -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    }
    
    
    .navItemEnd2 button:hover {
        cursor: pointer;
        outline: none;
    
        transform: scale(1.1);
        
        border-radius: 20px;
    
        -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    }
}