.container{
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    padding: 25px 0;
    
    width: 100%;

    /* border: 1px solid #eeee; */
}

.title{
    color: #0984e3;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Karantina", system-ui;
    font-style: normal;
  
    margin: 0;
}

.container2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    margin-top: 3em;
    
    max-width: 100%;

    /* border: 1px solid blue; */
}

.containerCart{
    display: flex;

    padding-left: 250px;
    
    width: 100%;
    max-height: 100%;

    /* border: 1px solid gray; */
}

.cart{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-wrap: wrap;
    gap: 5px;
    
    height: fit-content;
    max-width: 500px;

    padding: 10px 10px;
    
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.contenedorTitleImg{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    position: relative;
}

.contenedorImgProyectos{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
}

.containerIndvImgProyect{
    display: flex;
    align-items: center;

    /* border: 1px solid black; */

    width: 100%;
    height: 100%;
}

.imgProyectos{
    margin-left: 20px;
    
    width: 25px;
    height: 25px;

    transition: transform 0.5s ease-in-out;
}

.imgProyectos:hover{
    transform: scale(1.2);
}

.nameImg{
    display: none;

    background-color: white;
    height: fit-content;
    width: fit-content;

    padding: 0 5px;

    font-size: 15px;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    
    position: absolute;
    bottom: -25px;
    right: 40px;
}

.imgProyectos:hover + .nameImg{
    display: inline;
}

.nameImg2{
    display: none;

    background-color: white;
    height: fit-content;
    width: fit-content;

    padding: 0 5px;

    font-size: 15px;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;

    position: absolute;
    bottom: -25px;
    right: 0;
}

.imgProyectos:hover + .nameImg2{
    display: inline;
}

.titleProyectos{
    color: #0984e3;
    font-weight: bolder;
    font-size: 25px;
    font-family: "Karantina", system-ui;
    font-style: normal;
    
    width: 100%;
    margin: 0;
}

.CExp1{
    width: 100%;
    
    font-size: 20px;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* img proyectos botones */
.containerBtn{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 10px;


    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.Btn{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    width: 75px;
    height: 50px;
    
    border-radius: 10px;
    border: none;

}

.Btn:hover{
    cursor: pointer;
}

.imgB{
    width: 75px;
    height: 50px;

    border-radius: 10px;
    border: 1px solid gray;
    /* background-color: blue; */
}


/* Imagenes de los proyectos */
.imgP{
    width: 500px;
    min-height: 100%;

    border-radius: 10px;
}

/* carrusel */

.carouselSlide {
    display: flex;
    overflow: hidden;
    max-width: 500px;
    height: 100%;

    padding: 0;
    margin: 0;
    
    border-radius: 15px;
    position: relative;
    transition: transform 0.5s ease; 

    border: 1px solid #e4e4e4ee;
}

.slide {
    display: none;  
}

.slideActive {
    display: block;
}

.carouselslide img {
    width: 100%;
    height: auto;
}

.prev{
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    left: 0;
    top: 45%;
    
    padding: 4px;
    margin: 0;

    transition: transform 0.7s ease-in;
}

.next{
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    right: 0;
    top: 45%;
    
    padding: 4px;
    margin: 0;

    transition: transform 0.7s ease-in;
}

.prev:hover{
    background-color: #eae4e4;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.next:hover{
    background-color: #eae4e4;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.ImgBtn{
    width: 20px;
    height: 20px;
    color: black;
}

/* Container para ampliar img-project */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px); 
    z-index: 999;
  }
  
  .modalContent {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
  }
  
  .modalContent img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .ls{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    
  }

@media screen and (max-width: 1245px) {
    .container{
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        padding: 25px 0;
        
        max-width: 100%;
    
        /* border: 1px solid #eeee; */
    
        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .title{
        color: #0984e3;
        font-weight: bolder;
        font-size: 40px;
        font-family: "Karantina", system-ui;
        font-style: normal;
      
        margin: 0;
    }
    
    .container2{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        max-width: 100%;
    
        /* border: 1px solid blue; */
    }
    
    .containerCart{
        display: flex;
        /* align-items: flex-start; */
        justify-content: space-evenly;
    
        padding-left: 50px;
        
        max-width: 100%;
        max-height: 100%;
    
        
        /* background-color: gray; */
        /* border: 1px solid gray; */
    }
    
    .CExp1{
        padding: 0;

        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        /* font-weight: 600; */
        font-style: normal;
    }
    
    .cart{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    
        flex-wrap: wrap;
        gap: 5px;
        
        max-width: 450px;
        min-height: fit-content;
    
        padding: 10px;
        
        border-radius: 20px;
        border: none;

        background-color: #fff;
    }
    
    /* img proyectos botones */
    .containerBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        border-radius: 10px;
        padding: 5px;
        border: none;

        /* background-color: #fff; */
    }
    
    .Btn{
        margin: 5px 0;

        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 55px;
        height: auto;
        
        border-radius: 5px;
        border: none;
    }
    
    .Btn:hover{
        cursor: pointer;
    }
    
    .imgB{
        
        width: 75px;
        height: 50px;
    
        border-radius: 10px;
        border: 1px solid gray;
    }
    
    
    /* Imagenes de los proyectos */
    .imgP{
        width: 450px;
        height: auto;
    
        border-radius: 10px;
    }
    
    /* carrusel */
    .carouselSlide {
        display: flex;
        overflow: hidden;
        width: 100%; 
        max-height: 100%;

        padding: 0;
        margin: 0;
        
        position: relative;
        transition: transform 0.5s ease; 
    }
    
    .slide {
        display: none;  
    }
    
    .slideActive {
        display: block;
    }
    
    .carouselslide img {
        width: 100%;
        height: auto;
    }
    
}
@media screen and (max-width: 950px) {
    .container{
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        padding: 25px 0;
        
        max-width: 100%;
    
        /* border: 1px solid #eeee; */
    
        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .title{
        font-weight: bolder;
        font-size: 40px;
        font-family: "Karantina", system-ui;
        font-style: normal;
      
        margin: 0;
    }
    
    .container2{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        max-width: 100%;
    
        /* border: 1px solid blue; */
    }
    
    .containerCart{
        display: flex;
        /* align-items: flex-start; */
        justify-content: space-evenly;
    
        padding-left: 50px;
        
        max-width: 100%;
        max-height: 100%;
    
        
        /* background-color: gray; */
        /* border: 1px solid gray; */
    }
    
    .CExp1{
        padding: 0;

        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        /* font-weight: 600; */
        font-style: normal;
    }
    
    .cart{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    
        flex-wrap: wrap;
        gap: 5px;
        
        min-height: 350px;
        min-width: 360px;
    
        padding: 5px;
        
        border-radius: 20px;
    }
    
    /* img proyectos botones */
    .containerBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        border-radius: 10px;
        padding: 5px;

        height: fit-content;
        max-width: 130px;
        
    }
    
    .Btn{
        margin: 5px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        
        max-width: auto;
        max-height: auto;
        
        border: none;
    }
    
    .Btn:hover{
        cursor: pointer;
    }
    
    .imgB{
        max-width: 50px;
        max-height: 40px;
    
        border-radius: 10px;
        border: 1px solid gray;
    }
    
    
    /* Imagenes de los proyectos */
    .imgP{
        width: 100%;
        height: 100%;
    
        border-radius: 10px;
        /* border: 1px solid black; */
    }
    
    /* carrusel */
    
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .carouselSlide {
        display: flex;
        overflow: hidden;
        max-width: auto; 
        max-height: fit-content;
        
        /* border: 1px solid black; */
        border-radius: 15px;
        position: relative;
        transition: transform 0.5s ease; 
    }
    
    .slide {
        display: none;  
    }
    
    .slideActive {
        display: block;
    }
    
    .carouselslide img {
        width: 100%;
        height: auto;
    }
    
    .prev{
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        left: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }
    
    .next{
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        right: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }

    .modalContent {
        min-width: 100%;
        height: 100%;
        overflow: hidden;
      }
    
}
@media screen and (max-width: 830px) {
    .container{
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        padding: 25px 0;
        
        max-width: 100%;
    
        /* border: 1px solid #eeee; */
    
        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .title{
        font-weight: bolder;
        font-size: 40px;
        font-family: "Karantina", system-ui;
        font-style: normal;
      
        margin: 0;
    }
    
    .container2{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        max-width: 100%;
    
        /* border: 1px solid blue; */
    }
    
    .containerCart{
        display: flex;
        /* align-items: flex-start; */
        justify-content: space-evenly;
    
        padding-left: 50px;
        
        max-width: 100%;
        max-height: 100%;
    
        
        /* background-color: gray; */
        /* border: 1px solid gray; */
    }
    
    .CExp1{
        padding: 0;

        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        /* font-weight: 600; */
        font-style: normal;
    }
    
    .cart{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    
        flex-wrap: wrap;
        gap: 5px;
        
        min-height: 350px;
        max-width: 320px;
    
        padding: 10px;
        
        border-radius: 20px;
    }
    
    /* img proyectos botones */
    .containerBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding: 10px;

        max-width: 100px;
        height: auto;
    }
    
    .Btn{
        padding: 0;
        margin: 0;
        margin-bottom: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        height: auto;
    }
    
    .Btn:hover{
        cursor: pointer;
    }
    
    .imgB{
        
        width: 55px;
        height: 40px;
    
        border-radius: 10px;
        border: 1px solid gray;
        /* background-color: blue; */
    }
    
    
    /* Imagenes de los proyectos */
    .imgP{
        width: 320px;
        height: 200px;
    
        /* margin-bottom: 10px; */
    
        border-radius: 10px;
        /* border: 1px solid black; */
    }
    
    /* carrusel */
    
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .carouselSlide {
        display: flex;
        overflow: hidden;
        width: 320px; 
        max-height: fit-content;
        
        /* border: 1px solid black; */
        border-radius: 15px;
        position: relative;
        transition: transform 0.5s ease; 
    }
    
    .slide {
        display: none;  
    }
    
    .slideActive {
        display: block;
    }
    
    .carouselslide img {
        width: 100%;
        height: auto;
    }
    
    .prev{
        background-color: none;
        border-radius: none;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        left: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }
    
    .next{
        background-color: none;
        border-radius: none;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        right: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }
    
    .ImgBtn{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 750px) {
    .container{
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        padding: 25px 0;
        
        max-width: 100%;
    
        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .title{
        font-weight: bolder;
        font-size: 40px;
        font-family: "Karantina", system-ui;
        font-style: normal;
      
        margin: 0;
    }
    
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        max-width: 100%;

        padding: 0;
        margin: 0;
    }
    
    .containerCart{
        display: flex;
        align-items: center;
        justify-content: center;
    
        max-width: 100%;
        max-height: 100%;
    
        padding: 0;
        margin-top: 20px;
    }
    
    .CExp1{
        padding: 0;

        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        /* font-weight: 600; */
        font-style: normal;
    }
    
    .cart{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    
        flex-wrap: wrap;
        gap: 5px;
        
        min-height: 350px;
        max-width: 320px;
    
        padding: 10px;
        
        border-radius: 20px;
    }
    
    /* img proyectos botones */
    .containerBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    
        margin-top: 10px;
        width: 320px;
    }
    
    .Btn{
        padding: 0;
        margin: 0;

        width: 75px;
        height: 50px;
        
        border-radius: 10px;
        border: none;

    }
    
    .Btn:hover{
        cursor: pointer;
    }
    
    .imgB{
        margin: 0;

        width: 75px;
        height: 50px;
    
        border-radius: 10px;
    }
    
    
    /* Imagenes de los proyectos */
    .imgP{
        width: 320px;
        height: 200px;
    
        /* margin-bottom: 10px; */
    
        border-radius: 10px;
        /* border: 1px solid black; */
    }
    
    /* carrusel */
    
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .carouselSlide {
        display: flex;
        overflow: hidden;
        width: 320px; 
        max-height: fit-content;
        
        border-radius: 15px;
        position: relative;
        transition: transform 0.5s ease; 
    }
    
    .slide {
        display: none;  
    }
    
    .slideActive {
        display: block;
    }
    
    .carouselslide img {
        width: 100%;
        height: auto;
    }
    
    .prev{
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        left: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }
    
    .next{
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        right: 0;
        top: 40%;
        
        padding: 0;
        margin: 0;
    }
    
    /* Container para ampliar img-project */
    .modal {
        position: fixed;
        width: 100hv;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px); 
        z-index: 999;
    }
    
    .modalContent {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .modalContent img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
}
@media screen and (max-width: 500px) {
    .modal {
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        padding: 25px 0;
        
        max-width: 100%;
    
        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .title{
        color: #0984e3;
        font-weight: bolder;
        font-size: 30px;
        font-family: "Karantina", system-ui;
        font-style: normal;
      
        margin: 0;
    }
    
    .container2{
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: center;
        
        max-width: 100%;

        padding: 0;
        margin: 0;
    }
    
    .containerCart{
        display: flex;
        align-items: center;
        justify-content: center;
    
        max-width: 100%;
        max-height: 100%;
    
        padding: 0;
        margin-top: 20px;
    }
    
    .CExp1{
        padding: 0;
        font-size: 20px;
        font-family: "GFS Neohellenic", sans-serif;
        font-style: normal;
    }
    
    .cart{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    
        flex-wrap: wrap;
        gap: 5px;
        
        min-height: 100%;
        max-width: 100%;
    
        padding: 10px;
        
        border-radius: 20px;
    }
    
    /* img proyectos botones */
    .containerBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 10px;
        min-width: 100%;
    }
    
    .Btn{
        padding: 0;
        margin: 0;

        width: 75px;
        height: 50px;
        
        border-radius: 10px;
        border: none;
    }
    
    .Btn:hover{
        cursor: pointer;
    }
    
    .imgB{
        margin: 0;

        width: 75px;
        height: 50px;
    
        border-radius: 10px;
    }
    
    
    /* Imagenes de los proyectos */
    .imgP{
        width: 100%;
        height: auto;
    
        border-radius: 15px;
    }
    
    /* carrusel */
    
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .carouselSlide {
        display: flex;
        overflow: hidden;
        min-width: 100%;
        height: 100%;
        
        border-radius: 15px;
        position: relative;
        transition: transform 0.5s ease; 
    }
    
    .slide {
        display: none;  
    }
    
    .slideActive {
        display: block;
    }
    
    .carouselslide img {
        min-width: 100%;
        height: auto;
    }
    
    .prev{
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        left: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }
    
    .next{
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        right: 0;
        top: 45%;
        
        padding: 0;
        margin: 0;
    }
    
    .ImgBtn{
        width: 20px;
        height: 20px;
    }
}