.ContenedorHome{
    margin-top: 5em;

    max-height: 400px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* border: 2px solid blue; */
}

.CText{
    /* background-color: red; */
    /* border: 1px solid green; */

    height: 550px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CText2{
    /* background-color: red; */
    /* border: 1px solid red; */

    height: 240px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first0{
    /* background-color: red; */
    
    font-weight: bolder;
    font-size: 40px;
}
.first{
    /* background-color: red; */
    
    font-weight: bold;
    font-size: 25px;
}

.second{
    /* background-color: red; */
    color: #0984e3;
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 38px;
}

.CLogo{
    /* background-color: red; */

    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* margin-left: 70px; */
}

.miCv{
    background-color: #0984e3;
    color: #fff;
    
    border: 1px solid black;
    border-radius: 5px;

    height: 25px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 15px;

    padding: 2px 8px;

    box-shadow: 2px -2px 0px black;

    /* rotate: -5deg; */

    transition: transform 0.8s ease-in-out;
}

.miCv:hover{
    transform: scale(1.1);
    color: #fff;
}

/* img. Portda */

.CImg{
    /* border: 1px solid blue; */

    height: 550px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    /* background-image: url("/Fiesta egreso 2020-16.jpg");
    background-size: cover; */

    filter: grayscale(100%);
}

.CImg:hover {
    /* height: 270px; */
    
    filter: grayscale(0%);
}

.ImgP{
    border: 1px solid #eeee;
    border-radius: 50%;
    
    height: 360px;
    width: 360px;
}

@media screen and (max-width: 900px) {
    .ContenedorHome{
        margin-top: 5em;
    
        min-height: 400px;
        max-width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* border: 2px solid blue; */
    }
    
    .CText{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: 270px;
        max-width: 50%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .CText2{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: fit-content;
        width: 270px;
    
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    
        margin-right: 60px;
    }
    
    .first0{
        /* background-color: red; */
        
        /* font-family: 'Times New Roman', Times, serif; */
        font-weight: bolder;
        font-size: 29px;
    }
    .first{
        /* background-color: red; */
        
        /* font-family: 'Courier New', Courier, monospace; */
        font-weight: bold;
        font-size: 19px;
    }
    
    .second{
        /* background-color: red; */
        color: #0984e3;
        
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .CImg{
        border-radius: 50%;
    
        max-height: 250px; 
        max-width: 50%;
        
        /* background-image: url("/Fiesta egreso 2020-16.jpg");
        background-size: cover; */
    
        filter: grayscale(100%);
    
    }
    
    .CImg:hover {
        filter: grayscale(0%);
    }
    
    .CLogo{
        /* background-color: red; */
    
        width: 100%;
        height: 30px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
        /* margin-left: 70px; */
    }
    
    .miCv{
        background-color: #0984e3;
        color: #fff;
        
        border: 1px solid black;
        border-radius: 5px;
    
        height: 25px;
        width: 60px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-weight: bold;
        font-size: 15px;
    
        padding: 2px 8px;
    
        box-shadow: 2px -2px 0px black;
    
        /* rotate: -5deg; */
    
        transition: transform 0.8s ease-in-out;
    }
    
    .miCv:hover{
        transform: scale(1.1);
        color: #fff;
    }
    
    .ImgP{
        border: 1px solid #eeee;
        border-radius: 50%;
        
        height: 270px;
        width: 270px;
    }
}
@media screen and (max-width: 820px) {
    .ContenedorHome{
        margin-top: 5em;
    
        min-height: 400px;
        max-width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* border: 2px solid red; */
    }
    
    .CText{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: 270px;
        max-width: 50%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .CText2{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: fit-content;
        width: 270px;
    
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    
        margin-right: 60px;
    }
    
    .first0{
        /* background-color: red; */
        
        /* font-family: 'Times New Roman', Times, serif; */
        font-weight: bolder;
        font-size: 25px;
    }
    .first{
        /* background-color: red; */
        
        /* font-family: 'Courier New', Courier, monospace; */
        font-weight: bold;
        font-size: 15px;
    }
    
    .second{
        /* background-color: red; */
        color: #0984e3;
        
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 22px;
    }
    
    .CImg{
        border-radius: 50%;
    
        max-height: 250px; 
        max-width: 50%;
        
        /* background-image: url("/Fiesta egreso 2020-16.jpg");
        background-size: cover; */
    
        filter: grayscale(100%);
    
    }
    
    .CImg:hover {
        height: 270px;
        width: 270px;
        
        filter: grayscale(0%);
    }
    
    .CLogo{
        /* background-color: red; */
    
        width: 100%;
        height: 30px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
        /* margin-left: 70px; */
    }
    
    .miCv{
        background-color: #0984e3;
        color: #fff;
        
        border: 1px solid black;
        border-radius: 5px;
    
        height: 25px;
        width: 60px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-weight: bold;
        font-size: 15px;
    
        padding: 2px 8px;
    
        box-shadow: 2px -2px 0px black;
    
        /* rotate: -5deg; */
    
        transition: transform 0.8s ease-in-out;
    }
    
    .miCv:hover{
        transform: scale(1.1);
        color: #fff;
    }
    
    .ImgP{
        border: 1px solid #eeee;
        border-radius: 50%;
        
        height: 270px;
        width: 270px;
    }
}
@media screen and (max-width: 720px) {
    .ContenedorHome{
        margin-top: 5em;
    
        min-height: 400px;
        max-width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        border: 2px solid red;
    }
    
    .CText{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: 270px;
        max-width: 50%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .CText2{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: fit-content;
        width: 270px;
    
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    
        margin-right: 60px;
    }
    
    .first0{
        /* background-color: red; */
        
        font-weight: bolder;
        font-size: 19px;
    }
    .first{
        /* background-color: red; */
        
        /* font-family: 'Courier New', Courier, monospace; */
        font-weight: bold;
        font-size: 11px;
    }
    
    .second{
        /* background-color: red; */
        color: #0984e3;
        
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 19px;
    }

    .CLogo{
        /* background-color: red; */
    
        width: 100%;
        height: 30px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
        /* margin-left: 70px; */
    }
    
    .miCv{
        background-color: #0984e3;
        color: #fff;
        
        border: 1px solid black;
        border-radius: 5px;
    
        height: 20px;
        width: 50px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-weight: bold;
        font-size: 12px;
    
        padding: 2px 8px;
    
        box-shadow: 2px -2px 0px black;
    
        /* rotate: -5deg; */
    
        transition: transform 0.8s ease-in-out;
    }
    
    .miCv:hover{
        transform: scale(1.1);
        color: #fff;
    }
    
    .CImg{
        border-radius: 50%;
    
        max-height: 220px; 
        max-width: 50%;
        
        /* background-image: url("/Fiesta egreso 2020-16.jpg");
        background-size: cover; */
    
        filter: grayscale(100%);
    
    }
    
    .CImg:hover {
        filter: grayscale(0%);
    }
    
    
    .ImgP{
        border: 1px solid #eeee;
        border-radius: 50%;
        
        height: 220px;
        width: 220px;
    }
}