.containerS{
  max-width: 100%;
}

/* contenedor */
.carouselSlide1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #eee; */
    height: 70px;
    width: 100%;
    overflow: hidden;
}
.carouselSlide2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #eee; */
    height: 70px;
    width: 100%;
    overflow: hidden;
}
  
/* contenedor carrusel */
.slide2 {
  display: flex;
  animation: slide 7s linear infinite;

  padding: 0.5rem;
  
  /* background-color: red; */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% * 13));
  }
}
  

/* imagenes del carrusel */
.imgCarrusel{
    width: 30px;
    height: 30px;

    object-fit: contain;
}