.exp{
    margin-top: 20px;
    padding-top: 50px;
    padding: 25px 0;
    
    min-width: 100%;
}

.ContainerExp{
    max-width: 100%;
    max-height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #0984e3;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Karantina", system-ui;
    font-style: normal;
  
    /* margin: 0; */
}

.CExp1{
    /* background-color: greenyellow; */
    border-left: 1px solid #eeee;
    padding-left: 10px;
    
    max-width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    font-size: 20px;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.spanR{
    position: absolute;
    top: 13px;
    left: -6px;
    
    background-color: #eeee;
    border-radius: 50%;

    
    height: 10px;
    width: 10px;
}

.titleExp {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 100%;
 
    margin: none;
    padding: none;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

.date{
    font-weight: none;
    font-size: 13px;
}

.parrafoExp{
    border-left: 1px solid #eeee;
    padding-left: 12px;
}

@media screen and (max-width: 1275px) {
    .title{
        color: #0984e3;
        font-weight: bolder;
        font-size: 30px;
        font-family: "Karantina", system-ui;
        font-style: normal;

    }

    .titleExp {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        min-width: 100%;
     
        margin: none;
        padding: none;
    
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 20px;
    }

    .date{
        font-weight: none;
        font-size: 11px;
    }
    
    .parrafoExp{
        border-left: 1px solid #eeee;
        padding-left: 10px;
        font-size: 11px;
    }
}

@media screen and (max-width: 500px) {
.title{
        color: #0984e3;
        font-weight: bolder;
        font-size: 30px;
        font-family: "Karantina", system-ui;
        font-style: normal;
      
        /* margin: 0; */
    }
}